.block {
	width: 270px;
	padding: 24px 0 0;
	color: #8c8c8c;
	font-size: 11px;
}
.block .list {
	padding: 3px 6px 0 6px;
	height: 22px;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 20px 0 0;
	color: #aa;
	border: 1px solid #efefef;
	width: 237px;
	z-index: 11;
	background: #fcfcfc;
}

.list span {
	padding: 2px 0 0 2px;
	display: block;
	font-weight: bold;
}
.block ul.cities_list{
	margin-top: 0px;
	z-index: 10;
	background: #fcfcfc;
	position: absolute;
	border-radius: 3px;
	width: 249px;
	padding: 0;
	border: 1px solid #eee;
	display: none;
}
ul.cities_list li {
	padding: 6px 9px;
	list-style-type: none;
	border-top: 1px solid #efefef;
}
ul.cities_list li:hover {
	cursor: pointer;
	background: #fff;
}

.list #btn {
	background: url(icon/dropdown.png);
	width: 17px;
	height: 18px;
	float: right;
}

.block 
{
	padding: 3px 5px;
	margin: 5px 0 0 3px;
}


/*Стиль для таблицы*/
#table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-style: solid;
	border-radius: 5px;
	border-spacing: ;
	text-align: center;


}

#title{
	background: #BCEBDD; 
	color: white;
	text-shadow: 0 1px 1px #2D2020;
}

#value{
	padding: 10px 20px;
	background: #F8E391;
	
}